Checks: >
    -*,
    bugprone-assert-side-effect,
    bugprone-copy-constructor-init,
    bugprone-dangling-handle,
    bugprone-dynamic-static-initializers,
    bugprone-fold-init-type,
    bugprone-forward-declaration-namespace,
    bugprone-forwarding-reference-overload,
    bugprone-inaccurate-erase,
    bugprone-incorrect-roundings,
    bugprone-integer-division,
    bugprone-misplaced-widening-cast,
    bugprone-move-forwarding-reference,
    bugprone-multiple-statement-macro,
    bugprone-parent-virtual-call,
    bugprone-swapped-arguments,
    bugprone-unused-return-value,
    bugprone-use-after-move,
    bugprone-virtual-near-miss,
    clang-analyzer-core.*,
    clang-analyzer-cplusplus.*,
    clang-analyzer-deadcode.*,
    clang-analyzer-nullability.*,
    cppcoreguidelines-narrowing-conversions,
    modernize-deprecated-headers,
    modernize-make-shared,
    modernize-make-unique,
    modernize-use-emplace,
    modernize-use-override,
    modernize-use-using,
    performance-for-range-copy,
    performance-implicit-conversion-in-loop,
    performance-inefficient-algorithm,
    performance-inefficient-vector-operation,
    performance-move-const-arg,
    performance-noexcept-move-constructor,
    performance-trivially-destructible,
    performance-type-promotion-in-math-fn,
    performance-unnecessary-copy-initialization,
    performance-unnecessary-value-param,
    readability-avoid-const-params-in-decls,
    readability-const-return-type,
    readability-container-size-empty
# temp. disabled: bugprone-exception-escape

# Turn the warnings from the checks above into errors.
# To turn all warnings into errors, simply write '*'
# in the first line after WarningsAsErrors
WarningsAsErrors:  >
    *,-cppcoreguidelines-narrowing-conversions

FormatStyle: 'file'
HeaderFilterRegex: '.*\/(include\/networkit|networkit\/cpp)\/.*\.hpp$'
CheckOptions:
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.FunctionCase
    value: camelBack
  - key:   readability-identifier-naming.MemberCase
    value: camelBack
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
  - key:   readability-identifier-naming.UnionCase
    value: CamelCase
  - key:   readability-identifier-naming.VariableCase
    value: camelBack
  - key:   readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key:   performance-unnecessary-value-param.AllowedTypes
    value: '[Ff]unction$'
