*.d
*.trace
*.mk
*.o
.DS_Store
*.pyc
*.a
*.so
checkpoint.ipynb
build.conf
.sconsign.dblite
_NetworKit.cpp
networkit.egg-info/
lamg-2.2-2
CMG_101014
instances
benchmark/
.cproject
.project
.settings*
plots
*.out$
*.egg$
*~
*.dot$
*.project
*.cproject
tracelog*
*.json
*.csv
scripts/SparsificationEvaluation/input/
scripts/SparsificationEvaluation/output/
scripts/SparsificationEvaluation/figures
input/backbones/
build/
Doc/Website
Doc/Documentation
# TODO
output
sandbox
profiling
EnsembleClustering-D
EnsembleClustering-D
EnsembleClustering-D
EnsembleClustering-DPar
EnsembleClustering-O
/NetworKit-Comm*
*.orig
*.eps
doxygen
NetworKit-Tests-*
include/NetworKit
