include networkit.pc
include version.py
include networkit/_licenses/curveball-planner/LICENSE
include networkit/_licenses/curveball-planner/NOTICE
include CMakeLists.txt
graft include
graft extlibs/tlx
graft extlibs/ttmath
exclude extlibs/tlx/.git
